<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Partya.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>32</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
				<key>dateExpires</key>
				<string>30/05/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AXPhotoViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AXStateButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AdvancedPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AvailableHapticFeedback.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BottomPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>23.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DTPagerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ExpandableLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FloatingPanel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GrowingTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JWTDecode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Koloda.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MARKRangeSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MRCountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MultiSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NKVPhonePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OTPFieldView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PryntTrimmerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PureLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>15.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stevia.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.7.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>21.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeApplePay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>21.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>21.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeUICore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>21.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SweeterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessageBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyStoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.16.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF69AA82EB46DA73458ACC1FFDC8303A117C38F</string>
						<key>dateExpires</key>
						<string>30/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W2FUD95KYB</string>
						<key>name</key>
						<string>Waive Software Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W2FUD95KYB.com.partya</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>W2FUD95KYB</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Partya.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>74caee69-cffb-43dc-8831-0aa540f35efd</string>
				<key>dateExpires</key>
				<string>30/05/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.partya</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W2FUD95KYB</string>
				<key>name</key>
				<string>Waive Software Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
