<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005007801009-mn4f3bvv2jbh0upl04h8k4j7el3h5p71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005007801009-mn4f3bvv2jbh0upl04h8k4j7el3h5p71</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005007801009-5g45n58h1fmscnnv430p6g0h9ncg9113.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHH4q0gAFaosHqdmHMG3VmiTRRAc2QNJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1005007801009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phoneado.zimble</string>
	<key>PROJECT_ID</key>
	<string>phoneado-f0402</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneado-f0402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005007801009:ios:d312ffa9b246fae9cff090</string>
	<key>DATABASE_URL</key>
	<string>https://phoneado-f0402.firebaseio.com</string>
</dict>
</plist>